<%= "#{current_user.username}'s tools:" %>
<ul id= "tools">
  <% current_user.tools.each do |tool| %>
    <li><%= link_to tool.name, tool_path(tool) %></li>
  <% end %>
</ul>
<%= link_to "Create New Tools", new_tool_path %>
